#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#editor {
  vertical-align: top;
  text-align: left;
  width: 600px;
  height: 800px;
  display: inline-block;
  border: 1px solid gray;
}

#canvas {
  vertical-align: top;
  display: inline-block;
  border: 1px solid gray;
  width: 600px;
  height: 300px;
}
