#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#canvas {
  vertical-align: top;
  display: inline-block;
  border: 1px solid gray;
}

#string {
  font-family: 'Courier New', Courier, monospace;
  width: 400px;
  border: 1px solid gray;
  display: inline-block;
  max-height: 600px;
  overflow-y: auto;
}

#tree {
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  vertical-align: top;
  border: 1px solid gray;
  padding: 5px;
  max-height: 600px;
  overflow-y: scroll;
}

#download {
  display: block;
  margin-top: 20px;
}

.riv-object {
  font-weight: bold;
}

.riv-property {
  font-weight: normal;
  cursor: pointer;
}

.riv-property__hover {
  background-color: #c5c5c5;
}

.riv-property:before {
  content: '|- ';
  display: inline;
}

.byte {
  display: inline-block;
  padding: 1px 2px;
}

.byte-hover {
  background-color: #a3b151;
}
